.profile {
  /* height: calc(100vh - 300px); */
  background-color: var(--clr-bg);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* max-width: 400px; */

  /* font-style: italic; */

  /* width: 600px; */
}

.profile__greet {
  /* font-size: 3rem; */
  font-size: clamp(1.6rem, 4vw + 1rem, 3rem);
  font-weight: bold;
  text-align: center;
}
.profile__desc,
.profile__name {
  color: var(--clr-accent);
  /* font-style: italic; */
}
.profile__hand {
  width: 2.5rem;
}

.profile__pic {
  border-radius: 50%;
  width: 300px;
}

.profile__socials {
  padding-inline: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;

  display: flex;
  gap: 1rem;
}
.profile__socials i:hover {
  transform: scale(1.1);
}

.profile__motto {
  /* background-color: red; */
  max-width: 50rem;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  font-style: italic;
}
@media (max-width: 400px) {
  .profile__motto {
    font-size: clamp(1.3rem, 2vw, 2rem);
  }
  .profile__pic {
    width: 200px;
  }
}

@media (max-height: 400px) {
  .profile__pic {
    width: 200px;
  }
}
