.stack {
  /* justify-content: flex-start; */
  /* justify-content: ; */
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stack__desc {
  /* font-size: var(--fs-l); */
  font-size: 1.5rem;
  font-weight: 600;
  /* color: var(--clr-accent); */
}

.stack__list {
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.stack__list img {
  width: 3.5rem;
}

@media (max-width: 400px) {
  .stack__list img {
    width: 2.5rem;
  }
}
