:root {
  --fs-xxl: 3rem;
  --fs-xl: 2rem;
  --fs-l: 1rem;
  --fs-m: 0.5rem;
}
body {
  --clr-bg: #fafafaf;
  --clr-accent: #ea580c;
  --clr-accent2: ##fe640b;
}
body.dark {
  --clr-bg: #2c3040;
  --clr-accent: #ef9f76;
  background-color: #2c3040;
  color: #f4b8e4;
  --clr-accent2: ##fe640b;
  --clr-txt: #f4b8e4;
  --clr-fill: brightness(0) saturate(100%) invert(98%) sepia(73%)
    saturate(2291%) hue-rotate(211deg) brightness(103%) contrast(91%);
  --opacity: 0.75;
}
/* * {
  cursor: url("https://fav.farm/🖕") 15 0, auto;
} */
@font-face {
  font-family: "monesstry";
  src: url("/fonts/monesstry/MonesstryFree-Regular.woff") format("woff"),
    url("/fonts/monesstry/MonesstryFree-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* * {
    outline: solid 1px red;
} */

body {
  height: 100vh;
  font-family: "General Sans", sans-serif;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-inline: 1rem;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

/* .container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
} */

.rainbow-text {
  text-shadow: -4px 4px #ef3550, -8px 8px #f48fb1, -12px 12px #7e57c2,
    -16px 16px #2196f3, -20px 20px #26c6da, -24px 24px #43a047,
    -28px 28px #eeff41, -32px 32px #f9a825, -36px 36px #ff5722;
}

@media (min-width: 500px) {
  main {
    margin-inline: 0.5rem;
  }
}
